@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica; 
	box-sizing: border-box;
}

:root{
	--majorheading: #87423c; 
	--navyblue: #0C243C; 
	--navigation: #4d1d18;
}
#wrapper{
	width: 960px;
	height: 1120px;
	margin: auto;
}

body {
	font-size: 1em;
	line-height: 1.3em;
}
/* classes */
.majorheading {
	color: #87423c 
}
.navyblue {
	color: #0C243C;
}
.navigation{
	color:#4d1d18;
}
.specialcakesfont {
	font-family: Helvetica;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.clearboth {
    clear: both;
}

nav{
	width: 960px;
	height: 50px;
	line-height: 25px;
	text-align: right;
	color: #4d1d18; 
}

nav>a{
	margin-left: 35px;
	display: inline-block;
	margin-left: 15px;
	text-decoration: none;
	color: #4d1d18;
}
h1{
	font-size: 36px;
	padding-bottom: 25px;
	color: #87423c;
	font-family: Arial, Helvetica; 
}
p{
	text-align:justify;
	margin-bottom: 15px;
	line-height: 150%;
}
h2{
	font-size: 24px;
	margin-top: 36px;
	color: #4d1d18; 
	padding-bottom: 20px;
	font-family: Helvetica; 
}
section{
	width:960px;
	height:250px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 25px;
}

section>.address,.opening{
	width:290px;
}

section>p{
	color:#0C243C
}
article{
	margin-left: 113px;
}

footer{
	width:960px;
	height:50px;
	text-align:center;
	background-color: #0C243C;
	color: aliceblue;
	line-height: 50px;
	margin-top: 20px;
}
i{
	margin-left: 20px;
}